[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
epc = "*"
jedi = "*"
pudb = "*"
"flake8" = "*"

[packages]
requests = "*"
dateparser = "*"
csv = "*"

[requires]
python_version = "3.7"
